<ion-content>
  <ion-grid>
    <ion-row *ngFor="let message of currentPrivateChat.messages">
      <ion-col *ngIf="message.userName === currentUser" size="9" offset="3" class="userMessage">
        <ion-label>{{ message.message }}</ion-label>
      </ion-col>
      <ion-col *ngIf="message.userName === currentPrivateChat.chatName" size="9" class="otherMessage">
        <ion-label>{{ message.message }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-textarea #messageText [(ngModel)]="message" autosize rows="1" maxRows="3"></ion-textarea>
      </ion-col>
      <ion-col size="2" id="btn-col">
        <ion-button (click)="sendMessage()" [disabled]="!messageText.value">
          <ion-icon slot="icon-only" name="md-send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>