<ion-content>
  <div id="header">
    <ion-title>SocketChat</ion-title>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Nick name</ion-label>
          <ion-input [(ngModel)]="nickName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="toHome()" mode="md" shape="round" [disabled]="!nickName">Entrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>