<ion-header>
    <ion-grid id="header">
        <ion-row align-items-center justify-content-center>
            <ion-col pull="2" size="1" align-self-start>
                <ion-icon name="create"></ion-icon>
            </ion-col>
            <ion-col size="auto" align-self-center>
                <ion-label>1 new message</ion-label>
            </ion-col>
            <ion-col push="2" size="1" align-self-end>
                <ion-icon name="search"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content>

</ion-content>